<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Database files and scripts live in D:\Project\DATA -->
    <add name="HRMSConnection"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Project\DATA\HRMSDB.mdf;Initial Catalog=HRMSDB;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=30"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="51200" />
    <sessionState mode="InProc" timeout="480" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
    <authentication mode="None" />
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
